p {
    color: #212121;
}

.container {
    padding-top: 40px;
}

.title {
    margin-bottom: 40px;
}

.heartbeat_logo {
    position: relative;
    top: 13px;
}

.filter {
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 10px;
}

.filter p label {
    margin-right: 20px;
}

#game_filter {
    position: relative;
    bottom: 10px;
}

#game_filter_dropdown {
    float: right;
    font-size: 10px;
}

#game_dropdown {
    width: 400px !important;
}

.platform_icon {
    width: 22px;
    border-radius: 2px 2px 2px 2px;
    float: right;
}

.stream_preview {
    width: 260.25px;
    height: 146px;
}



.streamers #inner_streamers .row .col .online_streamer a .card {
    cursor: pointer;
    background: #19191F;
    height: 346px;
}

.streamers #inner_streamers .row .col .online_streamer a .card .user_thumb {
    height: 100px;
    width: 100px;
    padding: 10px;
    position: relative;
    bottom: 54px;
    background-color: #19191F;
}

.streamers #inner_streamers .row .col .online_streamer a .card .user_info {
    position: relative;
    bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.streamers #inner_streamers .row .col .online_streamer a .card .user_info .row .status {
    color: #E8E8E8;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.streamers #inner_streamers .row .col .online_streamer a .card .user_info .row .info .game {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.streamers #inner_streamers .row .col .offline_streamer a .card .user_info .row .info .game {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.streamers #inner_streamers .row .col .online_streamer a .card .user_info .row .info {
    color: #E8E8E8;
}

.streamers #inner_streamers .row .col .online_streamer a .card .user_info .row .info .indic {
    padding: 4px;
    background-color: #388e3c;
    border-radius: 2px 2px 2px 2px;
}

.streamers #inner_streamers .row .col .online_streamer a .card .user_info .row .info .indico {
    padding: 4px;
    background-color: #d32f2f;
    border-radius: 2px 2px 2px 2px;
}

.streamers #inner_streamers .row .col .online_streamer a .card .user_info .row .info .viewers,
.streamers #inner_streamers .row .col .online_streamer a .card .user_info .row .info .followers {
    padding: 4px;
    background-color: white;
    border-radius: 2px 2px 2px 2px;
    color: #19191F;
}

.streamers #inner_streamers .row .col .online_streamer a .card .user_info .row .info .lang {
    padding: 4px;
    background-color: #1565c0;
    border-radius: 2px 2px 2px 2px;
}

.streamers #inner_streamers .row .col .online_streamer a .card .user_info .row .info .mature {
    padding: 4px;
    background-color: #ef5350;
    border-radius: 2px 2px 2px 2px;
}

.streamers #inner_streamers .row .col .offline_streamer a .card {
    cursor: pointer;
    background: #19191F;
    height: 346px;
}

.streamers #inner_streamers .row .col .offline_streamer a .card .user_thumb {
    height: 100px;
    width: 100px;
    padding: 10px;
    position: relative;
    bottom: 54px;
    background-color: #19191F;
}

.streamers #inner_streamers .row .col .offline_streamer a .card .user_info {
    position: relative;
    bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.streamers #inner_streamers .row .col .offline_streamer a .card .user_info .row .status {
    color: #E8E8E8;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.streamers #inner_streamers .row .col .offline_streamer a .card .user_info .row .info {
    color: #E8E8E8;
}

.streamers #inner_streamers .row .col .offline_streamer a .card .user_info .row .info .lang {
    padding: 4px;
    background-color: #1565c0;
    border-radius: 2px 2px 2px 2px;
}

.streamers #inner_streamers .row .col .offline_streamer a .card .user_info .row .info .mature {
    padding: 4px;
    background-color: #ef5350;
    border-radius: 2px 2px 2px 2px;
}

.streamers #inner_streamers .row .col .offline_streamer a .card .user_info .row .info .indic {
    padding: 4px;
    background-color: #19191F;
    border-radius: 2px 2px 2px 2px;
    color: white;
}

.streamers #inner_streamers .row .col .offline_streamer a .card .user_info .row .info .viewers,
.streamers #inner_streamers .row .col .offline_streamer a .card .user_info .row .info .followers {
    padding: 4px;
    background-color: white;
    border-radius: 2px 2px 2px 2px;
    color: #19191F;
}

.offline_streamer {
    opacity: 0.4;
}

#loader {
    text-align: center;
}

#loader img {
    position: relative;
    top: 150px;
}

