#crm_container .channel_pic {
	height: 50px; 
	display: inline-block;
}

#crm_container .channel_name {
	display: inline-block;
  	position: relative;
  	top: -17px;
  	font-size: 20px;
  	margin-left: 10px;
}

#logo-container {
	font-size: 22px;
}

#admin-index .card-panel {
	text-align: center;
	transition: 0.5s;
}

#admin-index .card-panel:hover {
	background: #00796b !important;
}

.tabs {
	display: none;
}

.google-visualization-table-td-number,
.google-visualization-table-seq,
.google-visualization-table-th {
	text-align: center !important;
}

.google-visualization-table-th, 
.google-visualization-table-td {
	border: none !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

#lfg-sta-pagination,
#lfg-pla-pagination,
#pcat-pagination {
	display: inline-block;
}

#pcat-title {
	font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

#lfg-pla label {
	top: -5px;
}

#lfg-pla-table .top-level {
	overflow: visible!important;
}

.select-wrapper {
	z-index: 9999999;
}

.heartbeat_navbar #logo-container img {
	height: 48px;
	margin-top: 6px;
	float: left;
	margin-right: 20px;
}

#nav-links {
	list-style: none;
}

#nav-links li {
	display: inline-block;
}

.admin-links {
	font-size: 14px;
	text-align: right;
}

.admin-links.active {
	background-color: rgba(0,0,0,0.1);
}
